In [1]:
import pandas as pd
import numpy as np

In [55]:
df =pd.read_csv(r'C:/Users/jweiban/PycharmProjects/code_practice/Pandas_prac/data/table.csv',index_col="ID")
df.head(10)
# df.shape

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1204    S_1   C_2      F  street_5     162      63  33.8       B
1205    S_1   C_2      F  street_6     167      63  68.4      B-

In [5]:
#loc indicate label index
df.loc[1103]# single row

School          S_1
Class           C_1
Gender            M
Address    street_2
Height          186
Weight           82
Math           87.2
Physics          B+
Name: 1103, dtype: object

In [6]:
df.loc[[1103.,1104]]# multi rows

       School Class Gender   Address  Height  Weight  Math Physics
ID
1103.0    S_1   C_1      M  street_2     186      82  87.2      B+
1104.0    S_1   C_1      F  street_2     167      81  80.4      B-

In [7]:
df.loc[1304:2103].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1304    S_1   C_3      M  street_2     195      70  85.2       A
1305    S_1   C_3      F  street_5     187      69  61.7      B-
2101    S_2   C_1      M  street_7     174      84  83.3       C
2102    S_2   C_1      F  street_6     161      61  50.6      B+
2103    S_2   C_1      M  street_4     157      61  52.5      B-

In [9]:
df.loc[2402::-1].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
2402    S_2   C_4      M  street_7     166      82  48.7       B
2401    S_2   C_4      F  street_2     192      62  45.3       A
2305    S_2   C_3      M  street_4     187      73  48.9       B
2304    S_2   C_3      F  street_6     164      81  95.5      A-
2303    S_2   C_3      F  street_7     190      99  65.9       C

In [12]:
df.loc[:,'School']#sigle columns

ID
1101    S_1
1102    S_1
1103    S_1
1104    S_1
1105    S_1
1201    S_1
1202    S_1
1203    S_1
1204    S_1
1205    S_1
1301    S_1
1302    S_1
1303    S_1
1304    S_1
1305    S_1
2101    S_2
2102    S_2
2103    S_2
2104    S_2
2105    S_2
2201    S_2
2202    S_2
2203    S_2
2204    S_2
2205    S_2
2301    S_2
2302    S_2
2303    S_2
2304    S_2
2305    S_2
2401    S_2
2402    S_2
2403    S_2
2404    S_2
2405    S_2
Name: School, dtype: object

In [14]:
df.loc[:,['School','Class']].head()

     School Class
ID
1101    S_1   C_1
1102    S_1   C_1
1103    S_1   C_1
1104    S_1   C_1
1105    S_1   C_1

In [16]:
df.loc[:,'School':"Height"].head()

     School Class Gender   Address  Height
ID
1101    S_1   C_1      M  street_1     173
1102    S_1   C_1      F  street_2     192
1103    S_1   C_1      M  street_2     186
1104    S_1   C_1      F  street_2     167
1105    S_1   C_1      F  street_4     159

union index [a:b:c] # start end step

In [58]:
df.loc[1304:2103:9]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1304    S_1   C_3      M  street_2     195      70  85.2       A

In [29]:
df.loc[1102:2401:3,'Height':'Math'].head()

      Height  Weight  Math
ID
1102     192      73  32.5
1105     159      64  84.8
1203     160      53  58.8
1301     161      68  31.5
1304     195      70  85.2

In [31]:
df.loc[lambda x: x['Gender'] == 'M' ].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1301    S_1   C_3      M  street_4     161      68  31.5      B+

In [34]:
def f(x):
    return [1101,1103]

In [36]:
df.loc[f]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1103    S_1   C_1      M  street_2     186      82  87.2      B+

Bull index

In [38]:
df.loc[df['Address'].isin(['street_7','street_4'])].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1303    S_1   C_3      M  street_7     188      82  49.7       B
2101    S_2   C_1      M  street_7     174      84  83.3       C

In [46]:
df['Address'].values

array(['street_1', 'street_2', 'street_2', 'street_2', 'street_4',
       'street_5', 'street_4', 'street_6', 'street_5', 'street_6',
       'street_4', 'street_1', 'street_7', 'street_2', 'street_5',
       'street_7', 'street_6', 'street_4', 'street_5', 'street_4',
       'street_5', 'street_7', 'street_4', 'street_1', 'street_7',
       'street_4', 'street_5', 'street_7', 'street_6', 'street_4',
       'street_2', 'street_7', 'street_6', 'street_2', 'street_6'],
      dtype=object)

iloc method

In [47]:
df.iloc[3]

School          S_1
Class           C_1
Gender            F
Address    street_2
Height          167
Weight           81
Math           80.4
Physics          B-
Name: 1104, dtype: object

In [48]:
df.iloc[3:5]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [49]:
df.iloc[:,2]

ID
1101    M
1102    F
1103    M
1104    F
1105    F
1201    M
1202    F
1203    M
1204    F
1205    F
1301    M
1302    F
1303    M
1304    M
1305    F
2101    M
2102    F
2103    M
2104    F
2105    M
2201    M
2202    F
2203    M
2204    M
2205    F
2301    F
2302    M
2303    F
2304    F
2305    M
2401    F
2402    M
2403    F
2404    F
2405    F
Name: Gender, dtype: object

In [50]:
df.iloc[:,0:2]

     School Class
ID
1101    S_1   C_1
1102    S_1   C_1
1103    S_1   C_1
1104    S_1   C_1
1105    S_1   C_1
1201    S_1   C_2
1202    S_1   C_2
1203    S_1   C_2
1204    S_1   C_2
1205    S_1   C_2
1301    S_1   C_3
1302    S_1   C_3
1303    S_1   C_3
1304    S_1   C_3
1305    S_1   C_3
2101    S_2   C_1
2102    S_2   C_1
2103    S_2   C_1
2104    S_2   C_1
2105    S_2   C_1
2201    S_2   C_2
2202    S_2   C_2
2203    S_2   C_2
2204    S_2   C_2
2205    S_2   C_2
2301    S_2   C_3
2302    S_2   C_3
2303    S_2   C_3
2304    S_2   C_3
2305    S_2   C_3
2401    S_2   C_4
2402    S_2   C_4
2403    S_2   C_4
2404    S_2   C_4
2405    S_2   C_4

In [59]:
df.iloc[3::4,7::-2]

     Physics  Weight   Address Class
ID
1104      B-      81  street_2   C_1
1203      A+      53  street_6   C_2
1302      A-      57  street_1   C_3
2101       C      84  street_7   C_1
2105       A      81  street_4   C_1
2204      B-      74  street_1   C_2
2303       C      99  street_7   C_3
2402       B      82  street_7   C_4

In [60]:
df.iloc[lambda x:[3]]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-

In [62]:
df.iloc[(df["School"] == 'S_1').values].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [73]:
df.iloc[(df['Height'] >= 175).values]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1302    S_1   C_3      F  street_1     175      57  87.7      A-
1303    S_1   C_3      M  street_7     188      82  49.7       B
1304    S_1   C_3      M  street_2     195      70  85.2       A
1305    S_1   C_3      F  street_5     187      69  61.7      B-
2201    S_2   C_2      M  street_5     193     100  39.1       B
2202    S_2   C_2      F  street_7     194      77  68.5      B+
2204    S_2   C_2      M  street_1     175      74  47.2      B-
2205    S_2   C_2      F  street_7     183      76  85.4       B
2303    S_2   C_3      F  street_7     190      99  65.9       C
2305    S_2   C_3      M  street_4     187      73  48.9       B
2401    S_2   C_4      F  street_2     192      62  45.3       A
2405    S_2   C_4      F  street_6     193      54  47.6       B

In [70]:
School_values = df['School'].values
School_values

array(['S_1', 'S_1', 'S_1', 'S_1', 'S_1', 'S_1', 'S_1', 'S_1', 'S_1',
       'S_1', 'S_1', 'S_1', 'S_1', 'S_1', 'S_1', 'S_2', 'S_2', 'S_2',
       'S_2', 'S_2', 'S_2', 'S_2', 'S_2', 'S_2', 'S_2', 'S_2', 'S_2',
       'S_2', 'S_2', 'S_2', 'S_2', 'S_2', 'S_2', 'S_2', 'S_2'],
      dtype=object)

[] operation index

In [77]:
s= pd.Series(df['Math'], index=df.index)
s[1101]

34.0

In [78]:
s[0:2]

ID
1101    34.0
1102    32.5
Name: Math, dtype: float64

In [81]:
s[lambda x: x.index[0:2]]

ID
1101    34.0
1102    32.5
Name: Math, dtype: float64

In [82]:
s[s>80]

ID
1103    87.2
1104    80.4
1105    84.8
1201    97.0
1302    87.7
1304    85.2
2101    83.3
2205    85.4
2304    95.5
Name: Math, dtype: float64

In [98]:
s_int = pd.Series([1,2,3,4],index=[1,3,5,6])
s_float = pd.Series([1,2,3,4],index=[1.,3.,5.,6.])
s_int

1    1
3    2
5    3
6    4
dtype: int64

In [97]:
s_int[5]

3

In [99]:
s_int[2:]

5    3
6    4
dtype: int64

In [89]:
s_float[2:]

3.0    2
5.0    3
6.0    4
dtype: int64

Dataframe[] operation

In [100]:
df[1:2]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+

In [104]:
row = df.index.get_loc(1102)# Good method to get label location
df[row:row+1]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+

In [105]:
# forexample
s_int.index.get_loc(3)

1

In [106]:
df[3:5]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [108]:
df['School'].head()

ID
1101    S_1
1102    S_1
1103    S_1
1104    S_1
1105    S_1
Name: School, dtype: object

In [110]:
df[['School','Height']].head()

     School  Height
ID
1101    S_1     173
1102    S_1     192
1103    S_1     186
1104    S_1     167
1105    S_1     159

In [113]:
df[lambda x : ['Math','Physics']].head()

      Math Physics
ID
1101  34.0      A+
1102  32.5      B+
1103  87.2      B+
1104  80.4      B-
1105  84.8      B+

In [114]:
df[df['Gender'] == 'F'].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1204    S_1   C_2      F  street_5     162      63  33.8       B

Bull index operation

In [116]:
df[(df['Gender'] == 'F') & (df['Address']== 'street_2')].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
2401    S_2   C_4      F  street_2     192      62  45.3       A
2404    S_2   C_4      F  street_2     160      84  67.7       B

In [117]:
df[(df['Math']> 85) | (df['Address'] == 'street_7')].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1302    S_1   C_3      F  street_1     175      57  87.7      A-
1303    S_1   C_3      M  street_7     188      82  49.7       B
1304    S_1   C_3      M  street_2     195      70  85.2       A

~ represent all not

In [118]:
df[~((df['Math']> 75) | (df['Address'] == 'street_1'))].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1204    S_1   C_2      F  street_5     162      63  33.8       B
1205    S_1   C_2      F  street_6     167      63  68.4      B-

In [119]:
df.loc[df['Math'] > 60,df.columns == 'Physics']

     Physics
ID
1103      B+
1104      B-
1105      B+
1201      A-
1202      B-
1205      B-
1302      A-
1304       A
1305      B-
2101       C
2104      B+
2202      B+
2203      A+
2205       B
2301      B+
2303       C
2304      A-
2404       B

In [120]:
df[(df['Address'].isin(['street_1','street_4'])) & (df['Physics'].isin(['A','A+']))]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2203    S_2   C_2      M  street_4     155      91  73.8      A+

In [123]:
df[df[['Address','Physics']].isin({'Address':['street_1','street_4'],'Physics':['A','A+']}).all(1)]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2203    S_2   C_2      M  street_4     155      91  73.8      A+